# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# VSCode and PyCharm settings
.vscode/
.idea/

# Environment variables
.env
*.env

# pytest cache
.pytest_cache/
